AddDefaultCharset windows-1251
DirectoryIndex index.php

RewriteEngine On

# Основной домен
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Главная
RewriteRule ^index.html$ index.php [L]


# Правила
RewriteRule ^rules(/?)+$ index.php?menu=rules [L]

# Контакты
RewriteRule ^contacts(/?)+$ index.php?menu=contacts [L]

# Новости
RewriteRule ^news(/?)+$ index.php?menu=news [L]

# О нас
RewriteRule ^about(/?)+$ index.php?menu=about [L]

# Регистрация
RewriteRule ^signup/key/(.*)(/?)+$ index.php?menu=signup&key=$1 [L]
RewriteRule ^signup(/?)+$ index.php?menu=signup [L]

# Восстановление пароля
RewriteRule ^recovery(/?)+$ index.php?menu=recovery [L]

# Последние выплаты
RewriteRule ^payments(/?)+$ index.php?menu=payments [L]

#Колесо фортуны
		RewriteRule ^account/wheel(/?)+$ index.php?menu=account&sel=wheel [L]

# Пользователи
RewriteRule ^users/([0-9]+)(/?)+$ index.php?menu=users&page=$1 [L]
RewriteRule ^users(/?)+$ index.php?menu=users [L]
# акции
RewriteRule ^stock(/?)+$ index.php?menu=stock [L]
# FAQ
RewriteRule ^faq(/?)+$ index.php?menu=faq [L]
# ТОП
RewriteRule ^top(/?)+$ index.php?menu=top [L]

RewriteRule ^account/chat(/?)+$ index.php?menu=account&sel=chat [L]
RewriteRule ^account/chat/noban/([a-zA-Z0-9]+)(/?)+$ index.php?menu=account&sel=chat&noban=$1 [L]

# Аккаунт

RewriteRule ^account/baners(/?)+$ index.php?menu=account&sel=baners [L]
RewriteRule ^account/advpic(/?)+$ index.php?menu=account&sel=advpic [L]
RewriteRule ^account/chat(/?)+$ index.php?menu=account&sel=chat [L]
RewriteRule ^calk(/?)+$ index.php?menu=calk [L]
RewriteRule ^account/bonus2(/?)+$ index.php?menu=account&sel=bonus2 [L]
RewriteRule ^account/bonuspayeer(/?)+$ index.php?menu=account&sel=bonuspayeer [L]
RewriteRule ^account/lottery/winners(/?)+$ index.php?menu=account&sel=lottery&winners [L]
RewriteRule ^invcompetition(/?)+$ index.php?menu=invcompetition [L]
RewriteRule ^invcompetition/list(/?)+$ index.php?menu=invcompetition&list [L]
RewriteRule ^account/lottery(/?)+$ index.php?menu=account&sel=lottery [L]
RewriteRule ^account/bonus(/?)+$ index.php?menu=account&sel=bonus [L]
RewriteRule ^account/config(/?)+$ index.php?menu=account&sel=config [L]
RewriteRule ^account/insert(/?)+$ index.php?menu=account&sel=insert [L]
RewriteRule ^account/vbp(/?)+$ index.php?menu=account&sel=vbp [L]
RewriteRule ^account/insertmenu(/?)+$ index.php?menu=account&sel=insertmenu [L]
RewriteRule ^account/payment/([0-9]+)(/?)+$ index.php?menu=account&sel=payment&pay_id=$1 [L]
RewriteRule ^account/payment(/?)+$ index.php?menu=account&sel=payment [L]


RewriteRule ^ppaymeants(/?)+$ index.php?menu=ppaymeants [L]


RewriteRule ^account/market(/?)+$ index.php?menu=account&sel=market [L]
RewriteRule ^account/swap(/?)+$ index.php?menu=account&sel=swap [L]
RewriteRule ^account/store(/?)+$ index.php?menu=account&sel=store [L]
RewriteRule ^account/referals(/?)+$ index.php?menu=account&sel=referals [L]
RewriteRule ^account/farm(/?)+$ index.php?menu=account&sel=farm [L]
RewriteRule ^account/exit(/?)+$ index.php?menu=account&sel=exit [L]
RewriteRule ^account(/?)+$ index.php?menu=account [L]

RewriteRule ^account/igra(/?)+$ index.php?menu=account&sel=igra [L]
RewriteRule ^account/kamikadze2(/?)+$ index.php?menu=account&sel=kamikadze2 [L]
RewriteRule ^account/kamikadze(/?)+$ index.php?menu=account&sel=kamikadze [L]
RewriteRule ^account/coinflip(/?)+$ index.php?menu=account&sel=coinflip [L]

#серфинг
RewriteRule ^account/serfing(/?)+$ index.php?menu=account&sel=serfing [L]
RewriteRule ^account/serfing/edit/([0-9]+)(/?)+$ index.php?menu=account&sel=serfing_add&advedit=$1 [L]
RewriteRule ^account/serfing/delete/([0-9]+)(/?)+$ index.php?menu=account&sel=serfing&delete=$1 [L]
RewriteRule ^account/serfing/add(/?)+$ index.php?menu=account&sel=serfing_add [L]
RewriteRule ^account/serfing/cabinet(/?)+$ index.php?menu=account&sel=serfing_cabinet [L]
RewriteRule ^account/serfing/moder(/?)+$ index.php?menu=account&sel=serfing_moder [L]
RewriteRule ^account/serfing/view/([0-9]+)(/?)+$ _serfing_view.php?view=$1 [L]

# paybanner
RewriteRule ^paybanner(/?)+$ index.php?menu=paybanner [L]